@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
body{
    background-color:  #aaaa;
    font-family: 'Helvetica Neue', sans-serif;
}
.parent{
    display: flex;
    align-items: center;
}
.parent > div {
    
    
  }
.parent .child{
    background-color:  #fff;
    padding: 5px;
    margin-left: 5px;
}
.nav { grid-area: header; }
.body { grid-area: main; }
.form-section { grid-area: footer; }
.container{
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'main main main main main main'
      'footer footer footer footer footer footer';
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.nav{
background-color: #FFFC00;
width:100%;
}
.nav img{
    float: right;
    padding: 10px;
}

.nav{
    background-color: #FFFC00;
    width:100%;
    }
.body{

}

.form-section input:not([type=submit]){
    width: 100%;
    padding: 10px;
    margin: 10px;
    outline: none;
    border-top:none ;
    border-left:none ;
    border-right:none ;
    transition: border 2s ease;

}
.form-section input:not([type=submit]):focus{
    border: 2px solid #000;
    border-top:none ;
    border-left:none ;
    border-right:none ;

}
.form-section input[type=submit]{
width:100%;
border: none;
border-radius: 25px;
padding: 20px;
margin: 12px;
color:#ffffff;
background-color: #BBBBBB;
}
.body ul{
    list-style-type: none;
    margin:15px;
}
.body ul li{
    margin:15px;
}
.body .main-link{
width:auto;
border: none;
border-radius: 25px;
padding: 20px;
margin: 12px;
background-color: #000000;
}
.body .main-link a{
text-decoration: none;
color:#FFFC00;
}
.form-section ul{
    list-style-type: none;
    margin-top:15px;
}
.form-section ul li{
    margin-top:15px;
}
.form-section .forgot a{
   float:right;
   margin-left:;
   text-decoration: none;
}
.form-section p{
   font-size:18px;
   color: #BBBBBB;
   font-weight: 400;
}
.last span{
    color: #000;
}
.last span a{
    color: #000;
    text-decoration:none;
    
}
.form-section{
    padding:25px;
}